*{
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: courier;
    padding: 0 20px 0;
}

img {
    height: 50px;
    width: 130px;
}
.header {
    background-color: white;
    height: 180px;    
    width: 100%;    
    top: 0;
    left: 0;     
    position: absolute;       
}

.banner{
    background-color: #89aac0 ;
    height: 35px;
    top:0;
    left: 0;
    width: auto;    
}

.banner p{
    font-family: courier;
    color: white;
    font-size: 18px;
    text-align: center;
    line-height: 35px;
}

.mensaje {
    padding: 15% 0 0 0;
    text-align: center;
    color:#005078;
    font-size: 20px;    
    background-color: white;
}

.linea {
    border-top: 1px solid #89aac0;
    height: 0;    
    align-items: center;
    width: 100%;
    position: absolute;
    top: 83%;    
}

.buttons{
    color:#005078;
    background: none;
    border: none;
    font-size: 15px;
    line-height: 80px;    
    padding-right: 0;
    display: block;
    cursor: pointer;    
}
 
.firstbutton{
    padding-left: 75px;
}
.nav {
    display: flex;    
    max-width: 992px;    
    padding-top: 15px;      
}

.nav-link {
    color: black;
    text-decoration: none;
}

.logo {
    padding: 20px 40px 60px;
    line-height: 80px;
}

.nav-menu {
    display: flex;
    margin-right: 60px;
    list-style: none;        
}

.nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;    
}

.nav-menu-link:hover {
    background-color: #c0e0e8;
    transition: 0.5s;
}
.nav-menu-link_active {
    background-color: #c0e0e8;
}
.nav-toggle {
    color:#005078;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
    cursor: pointer;
    float: right;
}

.categorias {
    padding-bottom: 5%;    
    text-align: center;
    color:#005078;
    font-size: 20px;
}

.gallery {
    border: 1px solid #ccc;
}

.gallery:hover {
    border: 1px solid #777;
}

.gallery img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 15px;
    text-align: center;
}
 
.responsive {
    padding: 8px 10px;
    float: left;
    width: 24.99999%;
}
  



@media (max-width: 768px){
    body{
        padding-top: 70px;
    }
    
    img {
        height: 30px;
        width: 110px;
    }

    .header {        
        height: 60px;           
    }
    .nav {
        background-color: white;
    }
    .logo {
        padding: 10px 20px;
        line-height: 60px;
    }
    
    .nav-menu {
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
        margin: 0;
        background-color: #c0e0e8;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: calc(100%-60px);
        overflow-y: auto;
        left: 100%;
        transition: left 0.3s;
    }
    
    .nav-menu-item {
        line-height: 70px;       
        color: black; 
    }

    .nav-menu-link:hover{
        background: none;
        color: #005078;
    }

    .nav-menu-link_active {        
        color: #005078;
    }

    .nav-toggle{
        display: block;     
        left: 0;   
        float: right;
    }

    .nav-menu_visible{
        left: 0;
    }

    .nav-toggle:focus:not(:focus-visible){
        outline: none;
    }

    .banner{
        background-color: #89aac0 ;
        height: calc(100%-30px);
        width: auto;     
    }
    
    .buttons{        
        line-height: 70px;       
        color: black;
    }

    .linea {
        border-top: 1px solid #89aac0;
        height: 0;    
        align-items: center;
        width: 100%;
        position: fixed;
        top: 35%;            
    }
         
    .mensaje {
        padding: 120px 0 0 0;
        text-align: center;
        color:#005078;
        font-size: 20px;    
    }
}


@media only screen and (max-width: 700px) {
    .responsive {
     width: 49.99999%;
     margin: 6px 0;
   }
 }
   
 @media only screen and (max-width: 500px) {
    .responsive {
     width: 100%;
   }
 }
   
   .clearfix:after {
     content: "";
     display: table;
     clear: both;
   }