.container1{    
    padding-top: 7%;               
    padding-left: 48%;   
    padding-bottom: 7%; 
    margin: 0;
    width: 70%;
    max-width: 150%;     
    position: absolute;    
    z-index: 0;

}

.container2{    
    padding-top: 21%;    
    padding-bottom: 7%;        
    padding-left: 73.6%;    
    margin: 0;
    width: 96%;
    max-width: 150%; 
    position: relative;
    z-index: -1;
}

.imagen1 {        
    height: 440px;
    width: 100%;       
}

.imagen1 img{
    outline: 10px solid #507890;
    border: 5px solid white;    
}

.imagen2 {    
    height: 440px;
    width: 100%;        
}

.imagen2 img{
    outline: #88b0d0 10px solid;
    border: 5px solid white;
}
.imagen_sytle{    
    width: 100%;
    height: 100%;
    object-fit: cover;            
}

.mensaje1 {      
    padding-top: 25%;    
    width: 45%;       
    position: absolute;
    z-index: -2;
}

.mensaje1 h2 {
    background: #d8f0f0;
    text-align: center;
    color:#005078;
    font-size: 35px;
}

.mensaje1 p{
    background: #d8f0f0;
    text-align: center;
    color:#306078;
    font-size: 20px;
}